body {
  background-image: url(/images/porche.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  font-size: 70px;
  color: #960018;
}
p {
  text-align: center;
  font-size: 40px;
  color: #420c09;
}
